OTELHTTP_ENDPOINT=http://host.docker.internal:4318
OTELHTTP_USERNAME=
OTELHTTP_PASSWORD=
OTEL_ENDPOINT=host.docker.internal:4317
OTEL_USERNAME=
OTEL_PASSWORD=
PROMETHEUS_ENDPOINT=http://host.docker.internal:9090/api/v1/write
PROMETHEUS_USERNAME=
PROMETHEUS_PASSWORD=
LOKI_ENDPOINT=http://host.docker.internal:3100/loki/api/v1/push
LOKI_USERNAME=
LOKI_PASSWORD=
# PYROSCOPE_ENDPOINT=
# PYROSCOPE_USERNAME=
# PYROSCOPE_PASSWORD=
HOSTNAME=macbook-air-william
